    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Code</th>
                <th scope="col">Status</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody id="tbody">
                <h2>Productos en el carrito</h2>
                
                    {{#each cart.products}} 
                        <tr>
                            <td>{{this.product._id}}</td>
                            <td>{{this.product.title}}</td>
                            <td>{{this.product.description}}</td>
                            <td>${{this.product.price}}</td>
                            <td>{{this.product.stock}}</td>
                            <td>{{this.product.code}}</td>
                            <td>{{this.product.status}}</td>
                            <td>{{this.quantity}}</td>
                            {{!-- Ver logica --}}
                            <td>
                                <button onclick="addOneToCart('{{this.product._id}}')">Add + 1</button>
                                {{!-- <form action="/api/carts/{{@root.cart._id}}/product/{{this.product._id}}" method="post">
                                    <button type="submit">Add + 1</button>
                                </form>     --}}
                            </td>
                            <td>
                                <button onclick="removeFromCart('{{this.product._id}}')">Remove from cart</button>
                            </td>
                        </tr>
                    {{/each}}
        </tbody>
    </table>
    <button onclick="purchaseProduct('{{@root.cart._id}}')">Finish purchase</button>

    {{!-- <button id="purchase" onclick="purchaseProduct({{@root.cart._id}})" class="btn btn-danger">Finish purchase</button> --}}

<script>
    async function addOneToCart(id){
        const response = await fetch(`/api/carts/{{@root.cart._id}}/product/${id}`, {method: "post"})
        const res = await response.json()
        if(res.status == 'error'){
            return Swal.fire({
                title: 'Error',
                icon: 'error',
                text: 'You cant add your own product to the cart!',
                confirmButtonText: 'Okay',
                timer: 2500
            })
        }
        return Swal.fire({
            title: "Added to the cart!",
            icon: 'success',
            text: "Product successfully added to the cart",
            confirmButtonText: "Okay",
            timer: 2000
        })
        
    }
    async function removeFromCart(id){
        const response = await fetch(`/api/carts/{{@root.cart._id}}/product/${id}/delete`, {method: "post"})
        const res = await response.json()
        return Swal.fire({
            title: "Removed 1 unity from the cart!",
            icon: 'success',
            text: "Successfully removed 1 unity from the cart",
            confirmButtonText: "Okay",
            timer: 2000
        })
    }
    async function purchaseProduct(id){
        const response = await fetch(`/api/carts/${id}/purchase`, {method: "post"})
        const res = await response.json()
        if(res.status == 'success'){
            window.location = res.payload.url
        }else{
            return Swal.fire({
                title: "Error!",
                icon: 'error',
                text: "Something unexpected happened while purchasing the products! ",
                confirmButtonText: 'Ok..',
                timer: 2000
            })
        }

    }
    
</script>

