<main class="mx-2" id="main">
    {{#if user}}
        {{#if user.last_name}}
            <h1>Bienvenido {{user.first_name}} {{user.last_name}}!</h1>
            {{else}}
            <h1>Bienvenido {{user.first_name}}!</h1>
        {{/if}}

        {{#if user.age}}
            <h1>Age: {{user.age}}</h1>
        {{/if}}
        <h1>Email: {{user.email}}</h1>
        <h1>Rol: {{user.rol}}</h1>
        {{#if user.cart._id}}
            <a href="/cart/{{user.cart._id}}" class="btn btn-danger">Go to the cart!</a>
        {{else}}
        <a href="/cart/{{user.cart}}" class="btn btn-danger">Go to the cart!</a>
        {{/if}}

        <a href="/user/{{user._id}}/documents" class="btn btn-danger">Upload documents!</a>
        <a href="/api/user/premium/{{user._id}}/" class="btn btn-danger">Become a premium user!</a>
        <a href="/premium" class="btn btn-danger">Go to the premium section!</a>
        {{else}}
            <h2>Please, log in to purchase any product!</h2>
    {{/if}}



    <h1>Products</h1>

    <div class="d-flex flex-row flex-wrap justify-content-center">
            {{#if totalProducts.docs}}
                {{#each totalProducts.docs}}
                    <div class="bg-light card m-2" style="width: 16rem;">
                        <img src="{{thumbnail}}" class="card-img-top p-3" width="254px" height="254px" alt="{{title}}">
                        <div class="card-body text-dark">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                            <p class="card-text">${{price}}</p>
                            <p class="card-text">Total stock:{{stock}}</p>
                            <button onclick="addProductToTheCart('{{id}}')" class="btn btn-secondary mb-2">Add to cart</button>
                        </div>
                    </div>
                {{/each}}
            {{/if}}

    </div>
    <div class="d-flex justify-content-center my-3">
        {{#if totalProducts.hasPrevPage}}
            <button class="btn btn-primary mx-2">
                <a class="text-decoration-none text-white" href="{{totalProducts.prevLink}}">Anterior</a>
            </button>
        {{/if}}
        {{#if totalProducts.hasNextPage}}
            <button class=" btn btn-primary text-white">
                <a class="text-decoration-none text-white" href="{{totalProducts.nextLink}}">Siguiente</a>
            </button>
        {{/if}}
    </div>

</main>


<script>

    async function addProductToTheCart(id){
        let url
        if('{{user.cart}}' == '[object Object]'){
            url = `/api/carts/{{user.cart._id}}/product/${id}`
        }else{
            url = `/api/carts/{{user.cart}}/product/${id}`
        }
        const res = await fetch(url, {method: "post"})
        const response = await res.json()
        if(response.status == 'user-error'){
            return Swal.fire({
                title: 'Error',
                icon: 'error',
                text: 'You cant add your own product to the cart!',
                confirmButtonText: 'Ok..',
                timer: 2500
            })
        }else if(response.status == 'error'){
            return Swal.fire({
                title: 'Database error',
                icon: 'error',
                text: 'Something unexpected happened! Sorry.',
                confirmButtonText: 'Ok..',
                timer: 2500
            })
        }
        return Swal.fire({
            title: "Added to the cart!",
            icon: 'success',
            text: "Product successfully added to the cart",
            confirmButtonText: "Okay",
            timer: 2000
        })
    }
</script>


