<div>
    <h1>Bienvenido {{user.first_name}} {{user.last_name}}!</h1>
    {{#if age}}
    <h1>Age: {{user.age}}</h1>
    {{/if}}
    <h1>Email: {{user.email}}</h1>
    <h1>Rol: {{user.rol}}</h1>

    <h1>Products</h1>
    <ul>
        {{#if totalProducts}}
            {{#each totalProducts.docs}}
                <li>
                    <p>Id: {{id}}</p>
                    <p>Name: {{title}}</p>
                    <p>Description: {{description}}</p>
                    <p>Price: ${{price}}</p>
                    <p>Available stock: {{stock}}</p>
                    <p>Code: {{code}}</p>
                    <p>Status: {{status}}</p>
                    <form action="/api/carts/{{@root.cartId}}/product/{{id}}" method="post">
                        <button type="submit">Add to cart</button>
                    </form>
                    <form action="/api/products/delete/{{id}}" method="get">
                        <button type="submit">Delete product</button>
                    </form>
                </li> 
                {{/each}}
        {{/if}}

    </ul>
    <div>
        {{#if totalProducts.hasPrevPage}}
            <a href="{{totalProducts.prevLink}}">Anterior</a>
        {{/if}}
        {{#if totalProducts.hasNextPage}}
            <a href="{{totalProducts.nextLink}}">Siguiente</a>
        {{/if}}
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>